body{
    background-color: rgb(175,238,238);
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Didact Gothic';font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:black;
    color: rgb(175, 238, 238);
  }
#title{
    font-family: 'Didact Gothic';
    font-size: 50px;
    color: white;
    text-align: center;
}
.favorites{
    padding: 50px;
    background-color: whitesmoke;
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    margin: auto;
}

.optionsbackground {
  padding: 50px;
  background-color: whitesmoke;
  width: 1000px;
  height: 200px;
  border-radius: 10px;
  margin: auto;
}

#plus{
    background-color: rgb(175,238,238);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
}
.instructions{
    padding: 10px;
    background-color: white;
    width: 900px;
    margin: auto;
    height: 40px;
    border-radius: 25px;
}

.options {
  padding: 5x;
  background-color: white;
  width: 200px;
  margin: auto;
  height: 20px;
  border-radius: 10px;
}
#instruct{
    font-size: 20px;
    vertical-align: auto;
    font-family: 'Didact Gothic';
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
  margin: auto;
  border-width:3px; 
  border-style:solid; 
  border-color: black; 
  padding: 1em;
}

/* Full-width input fields */
.form-container input[type=text]{
  width: 150px;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
  border-radius: 25px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(175, 238, 238);
  color: white;
  padding: 16px 20px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 25px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    color:rgb(175, 238, 238);
  background-color: whitesmoke;
  border-radius: 25px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#name, #link, #recipetype{
    font-family: 'Didact Gothic';
}
.form-popup{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -25%); 
        
}

#type{
  width: 150px;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
  border-radius: 25px;
}