body
{
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Didact Gothic';font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:black;
    color: rgb(175, 238, 238);
  }
  .title{
    font-family: 'Yellow Bougenville';
    font-size: 100px;
    text-align: center;
    color: white;
  }
  .title {
    text-shadow:
      -1.5px -1.5px 0 #000,
      1.5px -1.5px 0 #000,
      -1.5px 1.5px 0 #000,
      1.5px 1.5px 0 #000;
  }

 

  .ingredients {
    font-family: 'Yellow Bougenville';
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow:
      -1.5px -1.5px 0 #000,
      1.5px -1.5px 0 #000,
      -1.5px 1.5px 0 #000,
      1.5px 1.5px 0 #000;
  }
  #ingredient1, #ingredient2, #ingredient3, #ingredient4, #ingredient5{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
  } 
#go{
  margin: auto;
  background-color: whitesmoke;
  color:rgb(175, 238, 238);
  text-align: center;
  font-family: 'Didact Gothic';
  font-size: 25px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
}