/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Didact Gothic';font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:black;
    color: rgb(175, 238, 238);
  }
  .title{
    font-family: 'Yellow Bougenville';
    font-size: 100px;
    text-align: center;
    color: white;
  }
  .title {
    text-shadow:
      -1.5px -1.5px 0 #000,
      1.5px -1.5px 0 #000,
      -1.5px 1.5px 0 #000,
      1.5px 1.5px 0 #000;
  }

  .searchbar {
    font-family: 'Yellow Bougenville';
    font-size: 70px;
    text-align: center;
    color: white;
  }


  #search{
    height: 60px;
    width: 1000px;
    border-radius: 20px 20px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }

  .searchbar {
    text-shadow:
      -1.5px -1.5px 0 #000,
      1.5px -1.5px 0 #000,
      -1.5px 1.5px 0 #000,
      1.5px 1.5px 0 #000;
  }