body
{
    margin: 0;
    padding: 0;
    background-color: rgb(175,238,238);
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: whitesmoke;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: white;
    padding: 20px;
}
label{
    color: rgb(175,238,238);
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: white;
    background-color: rgb(175,238,238);


}
span{
    color: rgb(175,238,238);
    font-size: 17px;
}
a{
    float: right;
}
/* this is currently empty, but a reminder to add css details using id tags */
