body
{
    font-family: 'Didact Gothic';
    margin: 0;
    padding: 0;
    background-color: rgb(175,238,238);
}
.topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Didact Gothic';font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:black;
    color: rgb(175, 238, 238);
  }
#heading{
    font-family: 'Didact Gothic';
    font-size: 25px;
    text-align: center;
    color: white;
    
}
.login{
        width: 300px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: whitesmoke;
        border-radius: 15px ;
        /* text-align: center; */

}
h2{
    text-align: center;
    color: white;
    padding: 20px;
}
label{
    color: rgb(175,238,238);
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: white;
    background-color: rgb(175,238,238);


}
span{
    color: rgb(175,238,238);
    font-size: 17px;
}
a{
    float: right;
}
/* this is currently empty, but a reminder to add css details using id tags */
