<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.cdnfonts.com/css/yellow-bougenville" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel = "stylesheet" href = "search.css">
</head>
<body>
    <div class="topnav">
        <a href="./HomePage.html">Home</a>
        <a href="./favorites.html">Favorites</a>
        <a href="./login.html">Login</a>
        <a href="./signup.html">Sign Up</a>
        <a class="active" href="./search.html">Recipe Search</a>
      </div>
    <div class="searchbar">
        <form role="search" id = "form">
            <h1 id="searchbar">Search Bar:</h1>
            <input type="search" id="query" name="q" placeholder="Search..." aria-label="Search through site content">
      </form>
      <script>
        const f = document.getElementById('form');
        const q = document.getElementById('query');
        const google = 'https://www.google.com/search?q=recipe%3A+';
  
        function submitted(event) {
          event.preventDefault();
          const url = google + '+' + q.value;
          const win = window.open(url, '_blank');
          win.focus();
        }
  
        f.addEventListener('submit', submitted);
      </script>
          </form>
</body>
</html>